* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.centered-div {
  max-width: 700px;
  margin: .5em auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
